<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Faculty</title>
</head>
<body>
<div align="center">
        <h1>Add a new faculty</h1>
        <br>
        <form action="#" th:action="@{/saveFaculty}" th:object="${faculty}"
            method="post">
 
            <table>
               
                <tr>
                    <td>Faculty Name:</td>            
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                 
                
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
            
        </form>
</div>

</body>
</html>