<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Faculties</title>
</head>
<body>
<div align="center">

    <h1>Faculty List</h1>   
    <br/><br/>
    <a href="/Faculty/newFaculty" >Create</a>
     <br/><br/>
   <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Finances</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="faculty: ${allFaculties}">
                
                <td th:text="${faculty.name}"></td>
                <td>
	                <ul th:each="finances:${faculty.finaces}">
	                	<li th:text="${finances.name}"></li>
	                </ul>
                </td>
                <!-- <td>                 
                  <a th:href="@{'/deletebranch/' + ${branch.branchId}}">Delete</a>    
                  <a th:href="@{'/editbranch/' + ${branch.branchId}}">Edit</a>          
                </td>  -->
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>