<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
        <h1>Add a new finance</h1>
        <br>
      <form action="#" th:action="@{/save}"  th:object="${student}" 
            method="post">
 
            <table>
               
                <tr>
                    <td>Student first name:</td>            
                    <td><input type="text" th:field="*{firstname}" /></td>
                </tr>
                <tr>
                    <td>Student last name:</td>            
                    <td><input type="text" th:field="*{lastname}" /></td>
                </tr>
                <tr>
                    <td>Student email:</td>            
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>
                <tr>
                    <td>Student address:</td>            
                    <td><input type="text" th:field="*{addres}" /></td>
                </tr>
                
                 
                </table>
                <br/>
                
                <th:block th:each="course : ${courses}">
                <input type="checkbox" name="ids" th:value="${course.id}"/>
                 <label th:text="${course.name}"></label>
               </th:block>
                
                         
                        
                     
                
               			<br/>
                    <button type="submit">Save</button> 
                
            
            
        </form> 
    </div>

</body>
</html>