<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Albanian Business Partner</title>
</head>
<body>

 <div align="center">
  <h1>Welcome</h1>
  <br>
<h2>Albanian Business Partner University </h2>
<br> <br>
<a href ="list-branches">List of branches </a>
<br> <br>
<a href ="register-form">Add new branch </a>
<br> <br>
<a href ="list-courses">List of courses </a>
<br> <br>
<a href ="register-course">Add new course </a>
</div>
</body>
</html>