<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>List of courses</title>
</head>
<body>
<div align="center">
    <h1>Course List</h1>
   <a href="/Course/register-course">Create</a>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                  <th>Branch</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="course: ${listCourses}">
                <td th:text="${course.Id}"> ID</td>
                <td th:text="${course.name}"> Name</td>
                 <td th:text="${course.price}"> Price</td>
                  <td th:text="${course.branch.name}">Branch</td>
                <td>                 
                  <a th:href="@{'/deletecourse/' + ${course.id}}">Delete</a>    
                  <a th:href="@{'/editcourse/' + ${course.id}}">Edit</a>          
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>