<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>List of faculties</title>
</head>
<body>
<div align="center">
    <h1>Faculties List</h1>
   
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Faculty name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="faculty: ${listFaculties}">
                <td th:text="${faculty.facultyId}">Faculty ID</td>
                <td th:text="${faculty.facultyName}">Faculty Name</td>
                <td>                 
                  <a th:href="@{'/deletefaculty/' + ${faculty.facultyId}}">Delete</a>    
                  <a th:href="@{'/editfaculty/' + ${faculty.facultyId}}">Edit</a>          
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>