<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>

<h2>Albanian Business Partner University</h2>
<p>Payment Billing System for the ABPUniversity</p>

<ul>
  <li><a href="#">Home</a></li>
  <li><a href="/Student/list_students">Students</a></li>
  <li><a href ="/Finance/viewFinance">Finance</a></li>
  <li><a href="/Faculty/viewFaculty">Faculty</a></li>
  <li><a href="/Branch/list-branches">Branches</a></li>
  <li><a href="/Course/list-courses">Courses</a></li>
   <li><a href="#admin">Administrator</a></li>
  
</ul>


</body>
</html>
