<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Add new Branch</title>
</head>
<body>
    <div align="center">
        <h1>Add New Branch</h1>
        <br>
        <form action="#" th:action="@{/savebrach}" th:object="${branch}"
            method="post">
 
            <table>
               
                <tr>
                    <td>Branch Name:</td>
                    <td><input type="text" th:field="*{branchName}" /></td>
                </tr>
                  <tr>                
                     <td>Faculty Id:</td>
                    <td><input type="text" th:field="*{faculty}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>