<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">

    <h1>Branch List</h1>   
    <br/><br/>
    <a href="newFaculty">Create</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="faculty: ${allFaculties}">
                
                <td th:text="${faculty.name}"></td>
                
                <!-- <td th:each="x:${faculty.finances}">
                	<p th:text="${x.name}"></p>
                </td>
                <td>                 
                  <a th:href="@{'/deletebranch/' + ${branch.branchId}}">Delete</a>    
                  <a th:href="@{'/editbranch/' + ${branch.branchId}}">Edit</a>          
                </td> -->
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>